/**
 * Styles for the MVPCreator Blog feature.
 */

/**
 * Align the featured image to the right!
 */
.mvpcreator-blog-page .field-name-field-featured-image img,
.mvpcreator-blog-default .field-name-field-featured-image img,
.node-mvpcreator-blog .field-name-field-featured-image img {
  float: right;
  margin-left: .75em;
  margin-right: 0;
}
